/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 50px;
}

.user-card {
  display: flex;
  margin: 20px;
}

.user-img {
  width: 150px;
  height: 150px;
  border-radius: 20%;
}

.user-info {
  border: 1px solid black;
  margin-left: 20px;
  width: 70vw;
  border-radius: 20px;
}

h2 {
  margin: 20px;
}

.post-title {
  margin: 20px;
  font-size: 24px;
}

.post-count {
  float: right;
  margin: 20px;
}

.user-bio {
  border: 1px solid black;
  border-radius: 20px;
  height: 150px;
  width: calc(70vw + 170px);
  margin: 20px;
}

.bio-info {
  margin: 20px;
}

.post-card {
  border: 1px solid black;
  border-radius: 20px;
  width: calc(70vw + 170px);
  margin: 20px;
}

.post-text {
  margin: 20px;
}

.counters {
  text-align: end;
  margin: 20px;
}

.all-posts {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: white;
  padding: 5px;
  border: 1px solid black;
  border-radius: 20px;
}

a {
  color: black;
  text-decoration: none;
}

.comment-container {
  margin: 20px;
  width: calc(70vw + 170px);
}

.comment {
  margin: 20px;
}

textarea {
  border-radius: 9px;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

